<mat-card class="header-casa-britanica">
    <div class="header-container">
        <div class="logo-container">
            <img class="logo-cb" src="./assets/images/logo-casa-britanica.png" alt="Casa Británica">
        </div>
        <div class="title-container-cb">
            <h1 class="title-cb">
                Inventario de vehículos usados
            </h1>
        </div>
        <div class="header-info-cb">
            <ul class="codigo-revision-fecha">
                <li>Código:<span>F-COU013</span></li>
                <li>Revisión:<span>6</span></li>
                <li>Fecha:<span>11/10/2014</span></li>
            </ul>
        </div>

    </div>
</mat-card>