.radio-btn {
    display: flex;
    flex-direction: column;
}

.example-full-width {
    width: 100%;
}

.example-h2 {
    margin: 10px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
}

mat-slider {
    width: 300px;
}

mat-form-field.mat-form-field {
    // width: 100%;
    margin: 0 0.5em;
}

label.cbradio-group-label {
    margin: 0 10px;
}

.inventario-bloque {
    display: flex;
    justify-content: space-between;
}

.inventario-bloque.b8 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.inventario-bloque .radio-options-cb {
    width: 100%;
}

.porcentaje-llanta {
    display: flex;
    justify-content: space-around;
}

figure.vistas-vehiculo {
    max-width: 50%;
}

figure.vistas-vehiculo img {
    width: 100%;
}

mat-form-field.select-estado {
    width: 100%;
}

.inventario-bloque.b9 {
    display: flex;
    flex-direction: column;
}

.bloque-rin-tapa-marca {
    display: flex;
    flex-wrap: wrap;
}

.inventario-bloque.b12 {
    display: flex;
    justify-content: space-between;
}

.inventario-bloque.b14 {
    display: flex;
    flex-direction: column;
}

.inventario-bloque.b15 {
    display: flex;
    flex-direction: column;
}

.datos-entrega,
.datos-recogida {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn-registro {
    display: flex;
    justify-content: flex-end;
}

.btn-form-cb {
    background-color: #b50411;
    color: #fff;
}

.group-field-img {
    width: 100%;
}

.card-cb {
    margin-bottom: 1.2em;
}

.mat-card-cb {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.2em;
    justify-content: space-between;
    mat-form-field {
        min-width: 18em;
    }
}

.mat-card-cb-b2,
.mat-card-cb-b3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.2em;
    mat-form-field {
        min-width: 20em;
    }
}

.mat-card-cb-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.2em;
}

.content-field-documentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.marca-referencia {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-observaciones {
    width: 50%;
}

.subgrupo-cb {
    display: flex;
}

.container-group-cb {
    display: flex;
    // align-items: center;
    justify-content: space-around;
}

.card-cb-vistas {
    width: 100%;
}

@media (max-width: 800px) {
    .inventario-bloque {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .datos-entrega,
    .datos-recogida {
        display: flex;
        flex-direction: column;
        mat-form-field {
            width: 100%;
        }
    }
    .porcentaje-llanta {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .container-group-cb {
        display: flex;
        flex-direction: column;
    }
    .bloque-rin-tapa-marca {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card-observaciones {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .mat-card-cb {
        mat-form-field {
            width: 100%;
        }
    }
}